<section id="{{ section.inner_link }}" class="text-center bg--primary-3">
    <header class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="h1 a1-marg-bottom" style="color:white;">{{ section.titol_seccio }}</h2>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            {% for concepte in section.conceptes %}
            <div class="col-sm-3">
                <a href="{{ concepte.link }}" class="block inner-link">
                    <div class="feature boxed boxed--border border--round a1-hover">
                        <i class="icon-{{ concepte.icona }} icon--lg color--primary a1-hover"></i>
                        <h4 class="h4 color--primary-1">{{ concepte.text }}</h4>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
