<!-- SEO -->

    <!-- Facebook Open Graph -->
    <meta property="og:site_name" content="{{ site.titol }}">
    <meta property="og:title" content="{{ site.titol }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:description" content="{{ site.descripcio }}">
    <meta property="og:image" content="{{ site.baseurl }}/{{ site.images_path }}/twitter-card.jpg">
    <meta property="og:type" content="website">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:title" content="{{ site.titol }}">
    <meta name="twitter:description" content="{{ site.descripcio }}">
    <meta name="twitter:image" content="{{ site.baseurl }}/{{ site.images_path }}/twitter-card.jpg">
    <meta name="twitter:image:alt" content="{{ site.titol }}">
    <meta name="twitter:url" content="{{ page.url }}" />
