<!-- SEO -->

    <!-- Facebook Open Graph -->
    <meta property="og:site_name" content="{% if page.locale == "es" %}{{ site.data.dades.titol_web_es }}{% else %}{{ site.data.dades.titol_web_ca }}{% endif %}">
    <meta property="og:title" content="{{ page.titol }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:description" content="{% if page.locale == "es" %}{{ site.data.dades.descripcio_web_es }}{% else %}{{ site.data.dades.descripcio_web_ca }}{% endif %}">
    <meta property="og:image" content="{{ site.baseurl }}/{{ site.images_path }}/twitter-card.jpg">
    <meta property="og:type" content="website">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.data.dades.twitter_username }}">
    <meta name="twitter:title" content="{{ page.titol }}">
    <meta name="twitter:description" content="{% if page.locale == "es" %}{{ site.data.dades.descripcio_web_es }}{% else %}{{ site.data.dades.descripcio_web_ca }}{% endif %}">
    <meta name="twitter:image" content="{{ site.baseurl }}/{{ site.images_path }}/twitter-card.jpg">
    <meta name="twitter:image:alt" content="{% if page.locale == "es" %}{{ site.data.dades.titol_web_es }}{% else %}{{ site.data.dades.titol_web_ca }}{% endif %}">
    <meta name="twitter:url" content="{{ page.url }}" />
