<head>
    <meta charset="utf-8">
    {% capture titol %}
    {{ site.data.dades.titol[page.locale] }}{% if page.titol %} | {{ page.titol }}{% endif %}
    {% endcapture %}
    <title>{{ titol | strip }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    {% capture description%}
    {% if page.descripcio %}{{ page.descripcio }}{% else %}{{ page.excerpt | default: site.dades.descripcio[page.locale] | strip_html }}{% endif %}
    {% endcapture %}
    <meta name="description" content="{{ description | strip | truncate: 160 }}">
    <meta name="keywords" content="{{ page.paraules_clau }}">
    <meta name="author" content="{% if page.autor %}{{ page.autor }}{% else %}{{ site.autor }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:"index.html","" | absolute_url }}">

    {% include shared/head-seo.html %}
    {% include shared/head-styles.html %}
</head>
