<!-- Scripts -->
		<script src="{{ site.baseurl }}/{{ site.theme_scripts_path }}/jquery-3.1.1.min.js"></script>
		<script src="{{ site.baseurl }}/{{ site.theme_scripts_path }}/parallax.js"></script>
		<script src="{{ site.baseurl }}/{{ site.theme_scripts_path }}/twitterfetcher.min.js"></script>
		<script src="{{ site.baseurl }}/{{ site.theme_scripts_path }}/smooth-scroll.min.js"></script>
		<script src="{{ site.baseurl }}/{{ site.theme_scripts_path }}/options.js"></script>
		<script src="{{ site.baseurl }}/{{ site.theme_scripts_path }}/scripts.js"></script>
		<script src="{{ site.baseurl }}/{{ site.theme_scripts_path }}/flickity.min.js"></script>
		<script src="{{ site.baseurl }}/{{ site.theme_scripts_path }}/granim.min.js"></script>
		<script src="{{ site.baseurl }}/{{ site.theme_scripts_path }}/spectragram.min.js"></script>
