<section id="{{ section.inner_link }}" class="bg--secondary">
    <div class="container">
        <div class="row a1-marg-bottom">
            <div class="col-xs-12 col-sm-12">
                <h1 class="text-center a1-marg-bottom">{{ section.titol_seccio }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="boxed boxed--border box-shadow-wide text-center">
                    <div class="slider" data-autoplay="false" data-arrows="true" data-paging="true" data-draggable="true">
                        <ul class="slides">
                            {% for slide in section.slides %}
                            <li>
                                <img src="{{ slide.img_url }}" alt="{{ slide.quote }}">
                                <p>
                                    <blockquote>
                                        &ldquo;{{ slide.quote }}&rdquo;
                                    </blockquote>
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div> 
            <div class="col-xs-12 col-sm-12 col-md-4">
                {% for guide in section.guides %}
                <div class="row" style="margin: 1.75em 0">
                    <div class="col-xs-12 col-sm-12">
                        <h3>{{ guide.format }}</h3>
                    </div>
                    {% for version in guide.versions %}
                    <div class="col-xs-4 col-sm-4">
                        <a href="{{ version.doc_url }}" title="{{ version.idioma }}">
                            <div class="boxed boxed--border box-shadow text-center feature feature--featured">
                                <p class="type--uppercase"><b>{{ version.etiqueta }}</b></p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>