
{% if page.inpage_nav %}
  {% include theme/inpage-nav.html %}
{% endif %}
<!-- Cover -->
<section class="cover imagebg text-center height-50" data-overlay="7">
    <div class="background-image-holder background--right"> <img alt="{%if page.imatge_alt %}{{ page.imatge_alt }}{% else %}background{% endif %}" src="{{ page.imatge_titular }}"> </div>
    <header class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="a1-cover"> {{ page.titol }}</h1>
            </div>
        </div>
    </header>
</section>
