        <div class="col-sm-6 col-md-6 col-xs-12">
            <article class="card card-2">
                <div class="card__top">
                    <a href="{{ site.baseurl }}{{ item.url }}" class="block">
                      <img alt="{{ item.imatge_alt }}" src="{{ site.baseurl }}/{{ site.images_path }}/{{ item.imatge }}">
                    </a>
                </div>
                <div class="card__body boxed boxed--border">
                    <span>{{ item.date | date_to_string }}</span>
                    <h5>{{ item.titol }}</h5>
                    <p>{{ item.content | strip_html | truncate: 220 }}</p>
                    <p class=" text-center"><a href="{{ site.baseurl }}{{ item.url }}"><i class="icon stack-right-open"></i></a></p>
                </div>
            </article>
        </div>
