
{% if page.inpage_nav %}
  {% include theme/inpage-nav.html %}
{% endif %}
<!-- Cover -->
<section class="cover imagebg text-center height-90 section--ken-burns" data-overlay="7">
    <div class="background-image-holder background--top"> <img alt="background" src="{{ site.baseurl }}/{{ site.images_path }}/{{ page.imatge_titular }}"> </div>
    <header class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-8"> <img alt="Image" class="unmarg--bottom" src="{{ site.baseurl }}/{{ site.images_path }}/headline-1.png">
                <h3> {{ page.titol }}</h3>
            </div>
        </div>
    </header>
</section>
