<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
    <ol>
        <li class="a1-pag--edge">
            {% if paginator.previous_page %}
            <a title="Anterior" href="{{ paginator.previous_page_path | replace: "index.html","" | prepend: site.baseurl }}">«</a>
            {% else %}
            <span>«</span>
            {% endif %}
        </li>

    {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
        {% if page.url == trail.path %}
        <li class="pagination__current">{{ trail.num }}</li>
        {% else %}
        <li><a href="{{ trail.path | replace: "index.html","" | prepend: site.baseurl }}">{{ trail.num }}</a></li>
        {% endif %}
        {% endfor %}
    {% endif %}

        <li class="a1-pag--edge">
            {% if paginator.next_page %}
            <a title="Posterior" href="{{ paginator.next_page_path | replace: "index.html","" | prepend: site.baseurl }}">»</a>
            {% else %}
            <span>»</span>
        {% endif %}
        </li>
    </ol>
</div>
{% endif %}
