<section class="switchable feature-large">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-xs-12 ">
            <div class="border--round box-shadow-wide a1-video">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ item.codi_youtube }}?rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=1&amp;color=blue" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6 col-md-5">
            <div class="switchable__text">
                <h2><a href="{{ item.url }}">{{ item.titol_video }}</a></h2>
                <div class="lead">{{ item.content | strip_html | truncate: 200 }}</div>

            </div>
        </div>
      </div>
    </div>
  </section>
