<section id="{{ section.inner_link }}" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8">
                <h2>{{ section.titol_seccio }}</h2>
                <div class="lead"> {{ section.content }} </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center bg--primary">
    <div class="container">
        <div class="row">
            {% for item in section.sector %}
            <div class="col-sm-3">
                <a href="#{{ item.inner_link }}" class="block inner-link">
                    <div class="feature boxed boxed--border border--round a1-hover">
                        <img class="image--sm" alt="{{ item.nom }}" src="{{ site.baseurl }}/{{ site.images_path }}/{{ item.icona }}">
                        <h4 class="h4 color--primary-1">{{ item.nom }}</h4>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
