            <a name="actua"></a>
                        <section class="switchable bg--white">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="switchable__text">
                                            <h1>{{ section.titol_seccio }}</h1>
                                            {{ section.content }}
                                            <a class="btn btn--icon  btn--primary" href="#"> <span class="btn__text">
                                        <i class="socicon socicon-twitter"></i>
                                        ACTUA!</span> </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="tweets-feed tweets-feed-1 bg--white" data-feed-name="sosracis" data-amount="3"></div>
                                    </div>
                                </div>
                            </div>
                        </section>
