<section id="{{ section.inner_link }}" class="switchable bg--primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 a1-marg-bottom">
                <h1>{{ section.titol_seccio }}</h1>
                <div class="lead">
                    {{ section.content }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="bg--primary-2 boxed boxed--lg">
                    <form action="" data-success="{{ section.formulari.confirmacio }}" data-error="{{ section.formulari.error }}">
                        <div class="col-sm-5 col-xs-12">
                            <label for="email">{{ section.formulari.email: }}</label>
                            <input class="validate-required validate-email" type="email" name="email" />
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <label for="nom">{{ section.formulari.nom }}</label>
                            <input class="validate-required" type="text" name="nom" />
                        </div>
                        <div class="col-sm-4  col-xs-12">
                            <label for="telefon">{{ section.formulari.telefon }}</label>
                            <input type="text" name="telefon" />
                        </div>
                        <div class="col-sm-5 col-xs-12">
                            <label for="data_parada">{{ section.formulari.data_parada }}</label>
                            <input type="text" name="data_parada" class="datepicker validate-required" placeholder="{{ section.formulari.data_parada_placeholder }}" />
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <label for="hora_parada">{{ section.formulari.hora_parada }}</label>
                            <input type="time" name="hora_parada" class="validate-required" />
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <label for="lloc_parada">{{ section.formulari.lloc_parada }}</label>
                            <input type="text" name="lloc_parada" class="validate-required" />
                        </div>

                        <div class="col-sm-5 col-xs-12">
                            <div class="color--white">{{ section.formulari.motiu_parada }}</div>
                        </div>
                        <div class="input-checkbox input-checkbox--switch col-sm-1 col-xs-12">
                            <input id="motiu" type="checkbox" name="motiu" />
                            <label for="motiu"></label>
                        </div>
                        <div class="col-sm-5 col-xs-12">
                            <div class="color--white">{{ section.formulari.vegades }}</div>
                        </div>
                        <div class="input-checkbox input-checkbox--switch  col-sm-1 col-xs-12">
                            <input id="vegades" type="checkbox" name="vegades" />
                            <label for="vegades"></label>
                        </div>
                        <div class="col-sm-5 col-xs-12">
                            <div class="color--white">{{ section.formulari.agent_identificat }}</div>
                        </div>
                        <div class="input-checkbox input-checkbox--switch  col-sm-1 col-xs-12">
                            <input id="agent_identificat" type="checkbox" name="agent_identificat" />
                            <label for="agent_identificat"></label>
                        </div>
                        <div class="col-sm-5 col-xs-12">
                            <div class="color--white">{{ section.formulari.agent_uniformat }}</div>
                        </div>
                        <div class="input-checkbox input-checkbox--switch  col-sm-1 col-xs-12">
                            <input id="agent_uniformat" type="checkbox" name="agent_uniformat" />
                            <label for="agent_uniformat"></label>
                        </div>
                        <div class="col-sm-5 col-xs-12">
                            <div class="color--white">{{ section.formulari.detencio }}</div>
                        </div>
                        <div class="input-checkbox input-checkbox--switch  col-sm-1 col-xs-12">
                            <input id="detencio" type="checkbox" name="detencio" />
                            <label for="detencio"></label>
                        </div>
                        <div class="col-sm-5 col-xs-12">
                            <div class="color--white">{{ section.formulari.escorcoll }}</div>
                        </div>
                        <div class="input-checkbox input-checkbox--switch  col-sm-1 col-xs-12">
                            <input id="escorcoll" type="checkbox" name="escorcoll" />
                            <label for="escorcoll"></label>
                        </div>
                        <div class="col-sm-5 col-xs-12">
                            <div class="color--white">{{ section.formulari.violencia }}</div>
                        </div>
                        <div class="input-checkbox input-checkbox--switch  col-sm-1 col-xs-12">
                            <input id="violencia" type="checkbox" name="violencia" />
                            <label for="violencia"></label>
                        </div>
                        <div class="col-sm-12">
                            <label>{{ section.formulari.relat }}</label>
                            <textarea name="relat" placeholder="{{ section.formulari.relat_placeholder }}" class="validate-required" rows="4"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-checkbox">
                                <input class="validate-required" id="aceptar" type="checkbox" name="aceptar" />
                                <label for="aceptar"></label>
                            </div>
                            <span class="color--dark">{{ section.formulari.acceptar_condicions }}. <a href="#" class="color--white"> {{ section.formulari.llegir_condicions }}</a></span>
                            <button type="submit" class="btn btn--primary-1 type--uppercase">ENVIAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
