<section id="{{ section.inner_link }}" class="imagebg image--light">
    <div class="background-image-holder"> <img alt="background" src="{{ site.baseurl }}/{{ site.images_path }}/{{ section.imatge_fons }}"> </div>
    <div class="container">
        <header class="row">
            <div class="col-sm-12">
                <h1 class="a1-marg-bottom">{{ section.titol_seccio }}</h1>
            </div>
        </header>
        <div class="row">
            {% for doc in site.data.documents limit:8 %}
            <div class="col-sm-3">
                <div class="feature feature-1 boxed boxed--border">
                    <h5>{{ doc.nom }}</h5>
                    <p>{{ doc.descripcio }}</p>
                    <div class="text-center a1-pad-top">
                      <a href="{{ site.baseurl }}/{{ site.docs_path }}/{{ doc.arxiu }}" target="_blank" title="Download">
                        <i class="icon icon--sm color--primary-1 icon-File-Download a1-hover"></i>
                      </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
