<section class="bg--primary-2">
  <header class="container">
      <div class="row">
          <div class="col-sm-12">
              <h1 class="a1-marg-bottom">{{ section.titol_seccio }}</h1>
          </div>
      </div>
  </header>
    <div class="container">
        <div class="row">
          {% for concepte in section.conceptes %}
          <div class="col-sm-4">
              <div class=" bg--white feature feature-2 boxed boxed--border"> <i class="icon icon-{{ concepte.icona }} color--primary"></i>
                  <div class="feature__body">
                      <p>{{ concepte.text }}</p>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>
</section>
