<section id="{{ section.inner_link }}">
    <header class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="a1-marg-bottom">{{ section.titol_seccio }}</h1>
            </div>
        </div>
    </header>
    <div class="container text-center">
        <div class="row">
          {% capture videos %}{% if page.locale == "ca" %}c03-testimonis{% else %}c03-testimonios{% endif %}{% endcapture %}
          {% assign lastvideos = site[videos] | sort: 'date' | reverse %}
          {% for item in lastvideos limit:3 %}
            <div class="col-sm-4 col-xs-12">
                <h3><a href="{{ item.url }}">{{ item.titol }}</a></h3>
                <div class="border--round box-shadow-wide a1-video">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ item.codi_youtube }}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="container a1-pad-top">
        <div class="row text-center">
            <div class="col-sm-12">
                <span>
                  {% if page.locale == "es" %}
                    <a href="{{ site.baseurl }}/testimonios/" title="Más testimonios">
                  {% else %}
                    <a href="{{ site.baseurl }}/testimonis/" title="Més testimonis">
                  {% endif %}
                      <i class="icon icon-Add"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>
