<section id="{{ section.inner_link }}" class="switchable bg--white">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <div class="switchable__text">
                    <h1>{{ section.titol_seccio }}</h1> {{ section.content }}
                    <a class="btn btn--icon btn--primary" href="{{ site.baseurl }}{% if page.locale == "es" %}{% link campana-twitter.md %}{% else %}{% link campanya-twitter.md %}{% endif %}">
                        <span class="btn__text">
                            <i class="socicon socicon-twitter"></i> ACTUA!
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="bg--secondary a1-twitter-feed">
                  <a class="twitter-timeline"
                      href="https://twitter.com/search?q=%23ParadDePararme%20OR%20%23perfiletnic%20OR%20%23PareuDePararme%20OR%20%23perfiletnico"
                      data-widget-id="929019265600106498"
                      data-chrome="noborders, transparent, noheader, nofooter"
                      data-link-color="#d67a1d"
                      data-border-color="#b26955">
                      #ParadDePararme #PareuDePararme
                  </a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
        </div>
    </div>
</section>
