<!-- Styles -->
    <link href="{{ site.baseurl }}/{{ site.theme_styles_path }}/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ site.baseurl }}/{{ site.theme_styles_path }}/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ site.baseurl }}/{{ site.theme_styles_path }}/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ site.baseurl }}/{{ site.theme_styles_path }}/flickity.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ site.baseurl }}/{{ site.theme_styles_path }}/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ site.baseurl }}/{{ site.theme_styles_path }}/theme-tangerine.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/main.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Anton|Merriweather:300,300i|Open+Sans:200,300,400,400i,500,600,700,700i" rel="stylesheet">
