<!-- Navigation -->
<div class="nav-container">
    <div class="via-1507128754740" via="via-1507128754740" vio="SOS">
        <div class="bar bar--sm bg--dark visible-xs visible-sm">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-2">
                        <a href="{{ site.baseurl }}{% link index.md %}">
                            <img class="logo" alt="logo" src="{{ site.baseurl }}/{{ site.images_path }}/{{ site.data.dades.logo[page.locale] }}">
                        </a>
                    </div>
                    <div class="col-xs-9 col-sm-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu;hidden-xs hidden-sm">
                            <i class="icon icon--sm stack-interface stack-menu" style="color: white;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav id="menu" class="bar bar-2 bg--dark hidden-xs hidden-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 text-center hidden-xs hidden-sm">
                        <div class="bar__module">
                            <a href="{{ site.baseurl }}{% link index.md %}">
                                <img class="logo" alt="logo" src="{{ site.baseurl }}/{{ site.images_path }}/{{ site.data.dades.logo[page.locale] }}">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-8">
                        <div class="bar__module">
                            {% capture menu_header %}{% if page.locale == "es" %}header_es{% else %}header_ca{% endif %}{% endcapture %}
                            <ul class="menu-horizontal text-left">
                                {% for item in site.menus[menu_header] %}
                                <li class="menu-item-{{ forloop.index }}">
                                    <a href="{{ item.url }}">{{ item.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 text-right">
                    {% include shared/lang-switcher.html %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
