@import "variables.scss";

/***************************
  Site custom styles below
****************************/

/**!**************/
/**! Contents **/
/**! 01. Reset **/
/**! 02. Typography **/
/**! 03. Position **/
/**! 04. Element Size **/
/**! 05. Images **/
/**! 06. Buttons **/
/**! 07. Icons **/
/**! 08. Lists **/
/**! 09. Lightbox **/
/**! 10. Menus **/
/**! 11. Dropdowns **/
/**! 12. Form Elements **/
/**! 13. Accordions **/
/**! 14. Breadcrumbs **/
/**! 15. Radials **/
/**! 16. Tabs **/
/**! 17. Boxes **/
/**! 18. Sliders Flickity **/
/**! 19. Hover Elements **/
/**! 20. Masonry **/
/**! 21. Modals **/
/**! 22. Maps **/
/**! 23. Parallax **/
/**! 24. Notifications **/
/**! 25. Video **/
/**! 26. Colors **/
/**! 27. Image Blocks **/
/**! 28. MailChimp & Campaign Monitor **/
/**! 29. Twitter **/
/**! 30. Transitions **/
/**! 31. Switchable Sections **/
/**! 32. Typed Effect **/
/**! 33. Gradient BG **/
/**! 34. Bars **/
/**! 35. Navigation In Page **/
/**! 36. Helper Classes **/
/**! 37. Spacing **/
/**! 38. Boxed Layout **/
/**! 39. Wizard **/
/**! 40. Alerts **/
/**! 41. Progress - Horizontal **/
/**! 42. Theme Overrides **/
        /*! -- Theme Links -- */
        /*! -- Theme Bars -- */
        /*! -- Theme Cards -- */
        /*! -- Theme Features Small -- */
        /*! -- Theme Forms -- */
        /*! -- Theme Masonry -- */
        /*! -- Theme Portfolio -- */
        /*! -- Theme Helpers -- */
        /*! -- Theme Labels -- */
        /*! -- Theme Blog -- */
/**! 43. Site custom **/
        /*! -- Site General -- */
        /*! -- Site Logo -- */
/**!**************/

/**! 02. Typography **/

body{
  font-family: 'Open Sans', sans-serif;
}
h1,
.h1 {
  font-family: 'Anton','Helvetica', sans-serif;
}
h5,h6,.h5,.h6{
	font-weight: 700;
}
.menu > li{
	font-family: 'Open Sans','Verdana','Helvetica', sans-serif;
}
.btn,.btn__text,button{
	font-family: 'Open Sans', sans-serif;
}
.icon {
  font-weight: bold;
}
i.color--white {
  color: white;
}
.lead {
  color: $color-lead;
}


/**! 05. Images **/

.background-image-holder.background--right {
  background-position: 100% 50% !important;
  background: $color-primary-1;
}

.background-image-holder.background--top {
  background-position: 0% 0% !important;
}

/**! 06. Buttons **/

.btn .btn__text,
.btn i {
  font-size: 1.45714286em;
}
.btn--primary,
.btn--primary:visited {
  background: $color-primary;
  border-color: $color-primary;
}
.btn--primary-1,
.btn--primary-1:visited {
  background: $color-primary-1;
  border-color: $color-primary-1;
}
.btn--primary:hover,
.btn--primary-1:hover {
  background: $color-hover;
  border-color: $color-hover;
}
.bg--primary button.btn.btn--primary-1 {
  border-color: $color-primary-1;
}
button.btn,
input[type="submit"].btn {
  text-transform: uppercase;
}
.btn--primary .btn__text,
.btn--primary:visited .btn__text {
  color: #fff;
}
.btn--primary .btn__text i,
.btn--primary:visited .btn__text i {
  color: #fff;
}
.btn--primary:hover {
  background: $color-hover;
}
.btn--primary:active {
  background: $color-primary;
}
.btn--primary-1 .btn__text,
.btn--primary-1:visited .btn__text {
  color: #fff;
}
.btn--primary-2:hover {
  background: $color-hover;
  border-color: $color-hover;
}
.btn--primary-1:active,
.btn--primary-2:active {
  background: $color-primary-1;
}
.btn--primary-2,
.btn--primary-2:visited {
  background: $color-primary-1;
  border-color: $color-primary-1;
}
.btn--primary-2 .btn__text,
.btn--primary-2:visited .btn__text {
  color: #fff;
}
.btn--white {
  background: #ffc861;
  color: $color-dark;
  border-color: #ffc861;
}
.btn--white i {
  color: #623626;
}

/**! 10. Menus **/

.menu-horizontal > li:not(:hover) > a,
.menu-horizontal > li:not(:hover) > span,
.menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger {
  opacity: .8;
}
@media all and (min-width: 990px) {
  .menu-horizontal li:not(:last-child) {
    margin-right: 0.8em;
  }
}
.a1-locale--active {
  color: $color-dark;
  text-align: center;
  font-weight: bold;
  opacity: .8;
  padding: 6px 0;
  border-bottom-color: $color-dark;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

/**! 25. Video **/

@media all and (min-width: 990px) {
  .col-sm-4 iframe {
    width: 100%;
    min-height: 202px;
    border: none;
  }
  .col-sm-12 iframe {
    width: 100%;
    min-height: 38em;
    border: none;
  }
  div.a1-video{
    margin-bottom: 2em;
  }
  .col-sm-4 div.a1-video {
    max-height: 202px!important;
  }
  .col-sm-6 div.a1-video {
    max-height: 312px!important;
  }
  .col-sm-12 div.a1-video {
    max-height: 38em!important;
  }
}
@media all and (max-width: 767px) and (orientation: landscape) {
  .col-xs-12 iframe {
    width: 100%;
    min-height: 27em;
    border: none;
  }
  div.a1-video{
    margin-bottom: 2.3em;
  }
  .col-xs-12 div.a1-video {
    max-height: 27em!important;
  }
}
@media all and (orientation: portrait) {
  .col-xs-12 iframe {
    width: 100%;
    min-height: 11em;
    border: none;
  }
  div.a1-video{
    margin-bottom: 2.3em;
  }
  .col-xs-12 div.a1-video {
    max-height: 11em!important;
  }
  .col-xs-12 h3 {
    font-size: 1.3em;
  }
}

.border--round iframe {
  border-radius: 6px;
}
.border--round {
  overflow: hidden;
}

/**! 26. Colors **/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $h-color;
}
a {
  color: $color-a;
  font-weight: 500;
  text-decoration: none;
}
a:hover  {
  color: $color-hover;
  font-weight: 500;
  text-decoration: none;
}
a.color--white:hover {
  color: #fff!important;
}
.imagebg:not(.image--light) a {
  color: $color-dark;
  text-transform: uppercase;
}
.color--primary {
  color: $color-primary !important;
}
.color--primary-1 {
  color: $color-primary-1 !important;
}
.color--primary-2 {
  color: $color-primary-2 !important;
}
.color--white {
  color: #fff;
}
.color--dark {
  color: $color-dark;
}
.bg--white {
  background: $bg-light;
}
.bg--dark {
  background: $bg-dark;
}
.bg--primary {
  background: $color-primary;
}
.bg--primary-1 {
  background: $color-primary-1;
}
.bg--primary-2 {
  background: $color-primary-2;
}
.bg--secondary {
  background: $bg-secondary;
}
.bg--primary .boxed:not(.imagebg) a {
  color: $color-a;
  text-transform: uppercase;
  text-decoration: none;
}
.bg--primary .boxed:not(.imagebg) a:hover {
  color: $color-hover;
}
.bg--primary .boxed:not(.imagebg) .color--primary {
  color: $color-primary-2 !important;
}
.bg--primary-2 a:not(.btn) {
  color: $color-a;
}
.bg--primary-2 .bg--white .feature__body p {
  color: $color-article;
}
.bg--dark:not(.nav-bar):not(.bar) a:hover {
  color: $color-hover;
}
.bg--white span,
.bg--white a:not(.btn) {
  color: $color-dark;
  text-decoration: none;
}
.bg--white a:not(.btn):hover span,
.bg--white a:not(.btn):hover {
  color: $color-hover;
}
article .article__body p,
article .article__body ul {
  color: $color-article;
}
.label:not([class*='bg--']) {
  background: $bg-secondary;
}

/**! 33. Gradient BG **/

[data-gradient-bg] {
  background: $color-primary-1;
}

/**! 37. Spacing **/

section.space-top--xxs {
  padding-top: 1.85714286em;
}

section.space-bottom--xxs {
  padding-bottom: 1.85714286em;
}

/**! 42. Theme Overrides **/

/*! -- Theme Links -- */

span a,
span a:hover {
  text-decoration: none;
}

/*! -- Theme Bars -- */

.menu-horizontal > li,
.menu-vertical > li {
  font-family: 'Open Sans', sans-serif;
}
.menu-horizontal > li > a,
.menu-horizontal > li > .modal-instance > a {
  font-weight: 900;
}

/*! -- Theme Cards -- */

.card-1 .card__avatar img {
  max-height: 48px;
  border-radius: 50%;
}
div.a1-twitter__bio {
  color: $color-article;
}
a.a1-twitter__card:hover * {
  background-color: $bg-light;
}
a.a1-twitter__card:hover {
  text-decoration: none;
}
div.a1-twitter__card {
  height: 250px;
}
.a1-twitter__card div.card.boxed--sm {
  padding: 0.8em;
}
.card-2 .card__top a {
  max-height: 20em;
}

/*! -- Theme Features Small -- */

.feature:not(.boxed) {
  margin-bottom: 2.31818182em;
}

/*! -- Theme Forms -- */

form label {
  margin-top: 0.92857143em;
  margin-bottom: 0.42857143em;
}
div.input-checkbox.input-checkbox--switch label {
  margin: 0px;
}
section#denuncia .bg--primary-1 span a {
  color: $color-primary-3;
  text-transform: uppercase;
  text-decoration: none;
}
section#denuncia .bg--primary-1 span a:hover {
  color: $color-hover;
}
section#denuncia button.btn.btn--primary-2 {
  color: #fff;
  border-color: $color-primary-2;
  background-color: $color-primary-2;
}
section#denuncia button.btn.btn--primary-2:hover {
  background: $color-hover;
  border-color: $color-hover;
}
section#formulari button.btn.btn--primary-1 {
  color: #fff;
}
button[type="submit"].btn--loading:after,
input[type="submit"][type="submit"].btn--loading:after {
  background: $color-primary;
}
.bg--primary button.btn {
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}
.bg--primary button.btn:hover {
  border-color: #fff;
}
.bg--primary button.btn.btn--primary {
  color: $color-primary;
  border-color: $color-primary;
}
.bg--primary button.btn.btn--primary-1 {
  border-color: $color-primary-1;
}
input[type]:focus,
select:focus,
textarea:focus {
  border-color: $color-hover;
}
.bg--primary label,
.bg--primary-1 label {
  color: #fff;
}
.input-checkbox label:hover {
  border-color: $color-hover;
}
.input-checkbox label:before {
  content: '';
  left: 0;
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid $color-primary-1;
  opacity: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
.input-checkbox input:checked + label {
  border-color: $color-primary-2;
  background: $color-primary-2;
}
.input-checkbox.input-checkbox--switch label:hover:before {
  border-color: $color-hover;
}
.input-checkbox.input-checkbox--switch input:checked + label:before {
  animation: none !important;
  background: $color-primary-2;
  border-color: $color-primary-2;
  transform: translateX(1.85714286em);
}
.input-radio label:hover {
  border-color: $color-primary-1;
}
.input-radio label:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid $color-primary-2;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  opacity: 0;
  left: 0;
}
.input-radio input:checked + label {
  border-color: $color-primary-2;
  background-color: $color-primary-2;
}
.input-radio--innerlabel:hover {
  border-color: $color-primary;
}
.input-radio--innerlabel input:checked + label {
  border-color: $color-primary-2;
  background: $color-primary-2;
  color: #fff;
}
.bg--primary .input-radio--innerlabel {
  border-color: $color-hover;
}
.bg--primary .input-radio--innerlabel.checked label {
  color: $color-primary;
}
.bg--primary-1 .input-radio--innerlabel {
  border-color: $color-primary-1;
}
.bg--primary-1 .input-radio--innerlabel.checked label {
  color: $color-primary-1;
}
.input-select:focus:after {
  border-color: $color-primary;
}
.input-select select:focus {
  border-color: $color-primary;
}
.input-number .input-number__controls > span:hover {
  color: $color-primary;
}
.picker .picker__day.picker__day--highlighted {
  color: $color-primary;
  font-weight: 600;
}
.picker .picker__day:hover {
  color: $color-primary;
}
section#denuncia div[class*='col-'] > div[class*='col-'] {
  padding-left: 0;
}
section#denuncia div[class*='col-'] > div[class*='col-'] {
  padding-right: 0;
}
section#denuncia div[class*='col-']:last-child {
  float: left;
  right: auto;
}

/*! -- Theme Masonry -- */

.masonry__item:not(:empty) {
  margin-bottom: 0px;
  padding: 5px;
}

/*! -- Theme Portfolio -- */

.project-thumb {
height: 150px;
width: 150px;
}

/*! -- Theme Helpers -- */

.back-to-top {
  background: rgba(168, 142, 127, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/*! -- Theme Labels -- */

label,
form div,
form div.input-checkbox {
  font-size: 1em;
}

/*! -- Theme Blog -- */

article .article__body {
  margin: 1em;
}
article .article__body p,
article .article__body ul,
article .article__body ol {
  font-size: 16px;
  font-weight: 400;
}
article .article__body ul li,
article .article__body ol li {
  margin-bottom: 0.5em;
}
.pagination ol li.a1-pag--edge {
  border: 0;
}
article .article__body .a1-note p,
article .article__body  span.a1-note {
  font-size: 0.9em;
  font-weight:normal;
  font-style: italic;
  color: $color-primary;
}
article .article__body  span.a1-note {
  font-size: 0.75em;
}
article .article__body .a1-note p:not(:last-child) {
  margin-bottom: 0.2em;
}
@media all and (orientation: landscape) {
  .card-2 div.card__top {
    height: 22em;
  }
}
@media all and (orientation: portrait) {
  .card-2 div.card__top {
    height: 15em;
  }
}
.card-2 div.card__body.boxed {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/**! 43. Site custom **/

/*! -- Site General -- */

.a1-marg-bottom {
  margin-bottom: 1.31818182em;
}
.a1-pad-top {
  padding-top: 1.85714286em;
}
.a1-pad-right {
  padding-right: 1.85714286em;
}
.a1-list-basic ul,
.a1-list-basic ol {
  padding-left: 15px;
}
.a1-list-basic ul {
  list-style: initial;
}
.imagebg.image--light h1 {
  color: #fff;
}
.a1-line-height-xs {
  line-height: 1.31818182em;
}
.unmarg--bottom {
  margin-bottom: 0!important;
}
.unmarg--top {
  margin-top: 0!important;
}
a:hover div.a1-hover {
  background: $color-primary-3;
  border-color: $color-primary-3;
}
a:hover i.a1-hover {
  color: $color-hover!important;
}
.a1-twitter-feed {
  padding: 1.5em;
}
div.a1-logo-entitats{
  min-height: 5.57142857em;
}

/*! -- Site Logo -- */

@media all and (min-width: 810px) {
  .bar .logo {
  top: -20px;
  }
}
.logo {
  min-height: 70px;
}
footer img.logo {
  margin-right: 26px;
}
@media all and (max-width: 767px) {
  .bar__module + .bar__module {
    margin-top: 0.92857143em;
  }
}
