//  Site custom variables


// Brand Colors for use across theme

$color-primary: #b26955;
$color-primary-1: #623626;
$color-primary-2: #aa8168;
$color-primary-3: #ffc861;
$color-hover: #d67a1d;
$color-a: #322420;
$color-dark: #322420;
$bg-dark: #322420;
$bg-light: #fbf3ef;
$bg-secondary: rgba(170, 128, 103, 0.2);

$h-color: #322420;
$color-article: #666666;
$color-lead:#555555;
