<section class=" ">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-block">
          <h1>{{ section.titol_seccio }}</h1>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h5>1</h5>
          <p>
            {{ section.conclusions.primera }}
          </p>
        </div>
        <div class="text-block">
          <h5>2</h5>
          <p>
            {{ section.conclusions.segona }}
          </p>
        </div>
        <div class="text-block">
          <h5>3</h5>
          <p>
            {{ section.conclusions.tercera }}
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <h5>4</h5>
          <p>
            {{ section.conclusions.quarta }}
          </p>
        </div>
        <div class="text-block">
          <h5>5</h5>
          <p>
            {{ section.conclusions.cinquena }}
          </p>
        </div>
        <div class="text-block">
          <h5>6</h5>
          <p>
            {{ section.conclusions.sisena }}
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
