<section id="{{ section.inner_link }}" class=" bg--primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center a1-marg-bottom">{{ section.titol_seccio }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="a1-marg-bottom">{{ section.titol_lectura }}</h3>
      </div>
      {% for doc in section.guies_lectura %}
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="feature feature-1 boxed boxed--border">
          <h5 class="text-center">{{ doc.versio }}</h5>
          <div class="text-center a1-pad-top">
            <a href="{{ doc.link }}" target="_blank" title="Download">
              <i
                class="icon icon--sm color--primary-1 icon-File-Download a1-hover"
              ></i>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
