<section id="{{ section.inner_link }}" class=" bg--primary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 col-xs-12">
        <h2 class="h1 a1-mb2">
          {{ section.titol_seccio }}
        </h2>
      </div>
      <div class="col-12 col-sm-4 col-xs-12">
        {% for item in section.informes %}
        <div style="margin: 1.75em 0">
          <div class="col-xs-4 col-sm-4">
            <a href="{{ item.link }}" title="{{ item.idioma }}">
              <div
                class="boxed boxed--border box-shadow text-center feature feature--featured"
              >
                <p class="type--uppercase">
                  <b>{{ item.idioma }}</b>
                </p>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
