<section id="{{ section.inner_link }}" class="bg--secondary">
  <div class="container">
    <div class="row a1-marg-bottom">
      <div class="col-md-12">
        <h3 class="a1-marg-bottom">
          Taxa d&#39;identificació per cada 100 habitants de Catalunya (2017)
        </h3>
      </div>

      <div class="col-md-8 col-sm-4 col-xs-12">
        <div class="progress-horizontal">
          <div class="progress-horizontal__bar" data-value="9"></div>
          <span class="progress-horizontal__label h5"
            >En base al total d&#39;identificacions 9,41%</span
          >
        </div>
      </div>
      <div class="col-md-8 col-sm-4 col-xs-12">
        <div class="progress-horizontal">
          <div class="progress-horizontal__bar" data-value="5"></div>
          <span class="progress-horizontal__label h5"
            >En base al total de persones identificades 4,99%</span
          >
        </div>
      </div>
      <div class="col-md-8 col-sm-4 col-xs-12">
        <div class="progress-horizontal">
          <div class="progress-horizontal__bar" data-value="14"></div>
          <span class="progress-horizontal__label h5"
            >En la regió metropolitana, veiem que la taxa d&#39;identificació
            ascendeix fins al 14,56%</span
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"><h3 class="a1-marg-bottom">Titol</h3></div>
      <div class="row">
        <div class="col-md-4 col-12">
          <div class="feature">
            <div
              class="radial radial--active"
              data-value="33"
              data-size="208"
              data-bar-width="8"
              data-color="rgb(178, 105, 85)"
              style="height: 208px; width: 208px;"
            >
              <span class="h5 radial__label">Subtítol</span>
            </div>
            <!--end radial-->
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="feature">
            <div
              class="radial radial--active"
              data-value="66"
              data-size="208"
              data-bar-width="8"
              data-color="rgb(178, 105, 85)"
              style="height: 208px; width: 208px;"
            >
              <span class="h5 radial__label">Subtítol</span>
            </div>
            <!--end radial-->
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="feature">
            <div
              class="radial radial--active"
              data-value="100"
              data-size="208"
              data-bar-width="8"
              data-color="rgb(178, 105, 85)"
              style="height: 208px; width: 208px;"
            >
              <span class="h5 radial__label">Subtítol</span>
            </div>
            <!--end radial-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
