<section id="{{ section.inner_link }}" class="bg--secondary">
  <div class="container">
    <div class="row a1-mb2">
      <div class="col-12 col-sm-4 col-xs-12">
        <h3 class="a1-mb2">
          {{ section.titol_grafic_1 }}
        </h3>

        <div class="feature">
          <div
            class="radial radial--active"
            data-value="{{ section.dades_grafic_1.percentatge }}"
            data-size="200"
            data-bar-width="15"
            data-color="#7f1d1d"
          >
            <span class="h5 radial__label"
              >{{ section.dades_grafic_1.percentatge }}%</span
            >
          </div>
          <!--end radial-->
        </div>
        <p class="a1-mb3">
          {{ section.dades_grafic_1.text }}
        </p>
      </div>
      <div class="col-8 col-sm-8 col-xs-12 a1-mb2">
        <h3 class="a1-mb2">
          {{ section.titol_grafic_2 }}
        </h3>
      </div>
      {% for item in section.dades_grafic_2 %}
      <div class="col-8 col-sm-8 col-xs-12 a1-mb2">
        <div class="progress-horizontal">
          <div
            class="progress-horizontal__bar"
            data-value="{{ item.percentatge }}"
          ></div>
          <span class="progress-horizontal__label h5"
            >{{ item.nom }} {{ item.percentatge }}%</span
          >
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3 class="a1-mb2">
          {{ section.titol_grafic_3 }}
        </h3>
        {% for item in section.dades_grafic_3 %}
        <div class="col-sm-6 col-12">
          <div class="feature">
            <div
              class="radial radial--active"
              data-value="{{ item.percentatge }}"
              data-size="200"
              data-bar-width="15"
              data-color="#991b1b"
            >
              <span class="h5 radial__label">{{ item.percentatge }}%</span>
            </div>
            <!--end radial-->
            <h5 class="text-center">
              {{ item.subtitol }}
            </h5>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
