<section id="{{ section.inner_link }}" class=" ">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="a1-mb3">
          <h2 class="h1">{{ section.titol_seccio }}</h2>
        </div>
      </div>
      <div class=" col-md-6 col-xs-12">
        <div class="a1-mb2 a1-inline-flex">
          <p class="h1">1</p>
          <p class="lead">
            {{ section.idees.primera }}
          </p>
        </div>
        <div class="a1-mb2 a1-inline-flex">
          <p class="h1">2</p>
          <p class="lead">
            {{ section.idees.segona }}
          </p>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-4 col-xs-12">
        <div class="a1-mb2 a1-inline-flex">
          <p class="h1">3</p>
          <p class="lead">
            {{ section.idees.tercera }}
          </p>
        </div>
        <div class="a1-mb2 a1-inline-flex">
          <p class="h1">4</p>
          <p class="lead">
            {{ section.idees.quarta }}
          </p>
        </div>
        <div class=" a1-inline-flex">
          <p class="h1">5</p>
          <p class="lead">
            {{ section.idees.cinquena }}
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
