<section id="{{ section.inner_link }}" class=" ">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="text-block">
          <h1>{{ section.titol_seccio }}</h1>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <p class="h1" style="font-size: 2rem">1</p>
          <p>
            {{ section.idees.primera }}
          </p>
        </div>
        <div class="text-block">
          <p class="h1" style="font-size: 2rem">2</p>
          <p>
            {{ section.idees.segona }}
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-block">
          <p class="h1" style="font-size: 2rem">3</p>
          <p>
            {{ section.idees.tercera }}
          </p>
        </div>
        <div class="text-block">
          <p class="h1" style="font-size: 2rem">4</p>
          <p>
            {{ section.idees.quarta }}
          </p>
        </div>
        <div class="text-block">
          <p class="h1" style="font-size: 2rem">5</p>
          <p>
            {{ section.idees.cinquena }}
          </p>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
