<section  id="{{ section.inner_link }}" class="text-center bg--primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10">
        <div class="text-block">
          <h2 class="h1">{{ section.titol_seccio }}</h2>
          <h3 class="h1" style="font-size: 2rem">{{ section.subtitol }}
          </h3>
        </div>
        <div class="slider" data-autoplay="true" data-arrows="false" data-paging="true" data-draggable="true">
                <ul class="slides">
                        {% for item in section.indicadors %}
                    <li>
                        <img src="{{ slide.img_url }}" alt="{{ slide.quote }}">
                        <p>
                            <blockquote>
                                    {{ item }}
                            </blockquote>
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
