<section class="switchable feature-large ">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-md-6 a1-mb3">
        <h1>{{ section.titol_seccio }}</h1>
        <img
          alt="{{ section.imatge_alt }}"
          class="border--round box-shadow-wide"
          src="{{ section.imatge_infografia }}"
        />
      </div>
      <div class="col-md-6 col-lg-5">
        <div class="switchable__text">
          <p class="h1 a1-mb2" style="font-size:1.5rem">
            {{ section.subtitol }}
          </p>
          <div class="lead">
            {{ section.content }}
          </div>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
