<section id="{{ section.inner_link }}" class="bg--white">
  <div class="container a1-mb5">
    <h1>{{ section.titol_seccio }}</h1>
    <div class="lead">
      {{ section.content }}
    </div>
  </div>
  <div class="container text-center a1-mb5">
    <div class="row justify-content-center">
      <div class="col-md-12 col-12 a1-mb5">
        <h3>{{ section.titol_mapa1 }}</h3>
      </div>
      <div class="col-md-12 col-12 a1-mb5">
        <div class="map-container">
          <iframe src="{{ section.url_mapa1 }}"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-12 col-12 a1-mb5">
        <h3>{{ section.titol_mapa2 }}</h3>
      </div>
      <div class="col-md-12 col-12 a1-mb5">
        <div class="map-container">
          <iframe src="{{ section.url_mapa2 }}"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
