<section id="{{ section.inner_link }}" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="a1-marg-bottom">
          Taxa d'dentificacions totals i per nacionalitat de Catalunya
        </h4>
      </div>

      <table class="border--round table--alternate-row">
        <thead>
          <tr>
            <th>Value 1</th>
            <th>Value 2</th>
            <th>Value 3</th>
            <th>Value 4</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="a1-marg-bottom">
          Les 5 ABP de Catalunya amb més persones identificades pels Mossos
          d&#39;Esquadra (2017)
        </h4>
      </div>

      <table class="border--round table--alternate-row">
        <thead>
          <tr>
            <th>Value 1</th>
            <th>Value 2</th>
            <th>Value 3</th>
            <th>Value 4</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
