<section id="{{ section.inner_link }}" class="">
  <div class="container">
    <div class="row table-responsive">
      <div class="col-md-12">
        <h3 class="h1 a1-mb2" style="font-size:1.5rem">
          {{ section.titol_taula1 }}
        </h3>
      </div>

      <table class="border--round table--alternate-row a1-text-right a1-table-border">
        <thead>
          <tr>
            <th></th>
            <th>Personas identificadas Cataluña</th>
            <th>Población Cataluña</th>
            <th>Tasa identificación (%)</th>
            <th>Ratio desproporcionalidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="h6">Española</td>
            <td><p class="a1-percent">(45,4%)</p>171.367</td>
            <td><p class="a1-percent">(86,21%)</p>6.514.46</td>
            <td>2,63</td>
            <td>(1)</td>
          </tr>
          <tr>
            <td class="h6">Extrangera</td>
            <td><p class="a1-percent">(54,1%)</p>203.972</td>
            <td><p class="a1-percent">(13,70%)</p>1.041.362</td>
            <td>19,59</td>
            <td>7,4</td>
          </tr>
          <tr>
            <td class="h6">Sin especificar</td>
            <td><p class="a1-percent">(0,5%)</p>1.886</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="h6">TOTAL</td>
            <td>
              377.225
            </td>
            <td>7.555.830</td>
            <td>4,99</td>
            <td>-</td>
          </tr>
          <tr>
            <td class="a1-intertitol" colspan="5">
              Las cinco nacionalidades más identificadas en Cataluña:
            </td>
          </tr>
          <tr>
            <td class="h6">Marruecos</td>
            <td>40.668</td>
            <td>207.082</td>
            <td>19,64</td>
            <td>7,5</td>
          </tr>
          <tr>
            <td class="h6">Rumanía</td>
            <td>24.424</td>
            <td>89.071</td>
            <td>27,42</td>
            <td>10,4</td>
          </tr>          <tr>
            <td class="h6">Ecuador</td>
            <td>11.817</td>
            <td>26.696</td>
            <td>44,27</td>
            <td>16,8</td>
          </tr>          <tr>
            <td class="h6">República Dominicana</td>
            <td>7.906</td>
            <td>18.074</td>
            <td>43,74</td>
            <td>16,6</td>
          </tr>          <tr>
            <td class="h6">Colombia</td>
            <td>7.720</td>
            <td>26.406</td>
            <td>29,24</td>
            <td>11,1</td>
          </tr>
          <tr>
            <td class="a1-intertitol" colspan="5">
              Otras nacionalidades con diferentes perfiles étnicos:
            </td>
          </tr>
          <tr>
            <td class="h6">Pakistan</td>
            <td>6.505</td>
            <td>44.202</td>
            <td>14,72</td>
            <td>5,6</td>
          </tr>
          <tr>
            <td class="h6">Perú</td>
            <td>5.911</td>
            <td>18.286</td>
            <td>32,33</td>
            <td>12,3</td>
          </tr>          <tr>
            <td class="h6">Argelia</td>
            <td>4.172</td>
            <td>8.651</td>
            <td>48,23</td>
            <td>18,3</td>
          </tr>          <tr>
            <td class="h6">Bulgaria</td>
            <td>3.201</td>
            <td>11.308</td>
            <td>28,31</td>
            <td>10,8</td>
          </tr>          <tr>
            <td class="h6">Senegal</td>
            <td>3.119</td>
            <td>20.323</td>
            <td>15,35</td>
            <td>5,8</td>
          </tr>
        </tr>          <tr>
          <td colspan="5" style="font-style: italic" class="text-right">Fuente: Datos oficiales de Mossos d'Esquadra 2017 y datos IDESCAT 2017</td>
        </tr>
        </tbody>
      </table>

      <div class="col-md-12  a1-mb3">
        <div class="a1-marg-bottom">
          {{ section.text_taula1 }}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row table-responsive">
      <div class="col-md-12">
          <h3 class="h1 a1-mb2" style="font-size:1.5rem">
          {{ section.titol_taula2 }}
        </h3>
      </div>

      <table class="border--round table--alternate-row a1-table-border">
        <thead>
          <tr>
            <th></th>
            <th>Personas con nacionalidad española</th>
            <th class="a1-text-right">N</th>
            <th class="a1-text-right">%</th>
            <th class="a1-border-cell"></th>
            <th>Personas con nacionalidad extrangera</th>
            <th class="a1-text-right">N</th>
            <th class="a1-text-right">%</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td class="a1-destacat-bg">Robo con fuerza</td>
            <td class="a1-text-right">6.469</td>
            <td class="a1-destacat-bg a1-text-right">3,77</td>
            <td class="a1-border-cell">1</td>
            <td class="a1-destacat-bg">Control policial de paso</td>
            <td class="a1-text-right">17.046</td>
            <td class="a1-destacat-bg a1-text-right">8,36</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Discusión verbal</td>
            <td class="a1-text-right">5.721</td>
            <td class="a1-text-right">3,34</td>
            <td class="a1-border-cell">2</td>
            <td class="a1-destacat-bg">Dispositivo de seguridad ciudadana/judicial</td>
            <td class="a1-text-right">13.425</td>
            <td class="a1-destacat-bg a1-text-right">6,58</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Conflicto familiar</td>
            <td class="a1-text-right">5.600</td>
            <td class="a1-text-right">3,27</td>
            <td class="a1-border-cell">3</td>
            <td>Discusión verbal</td>
            <td class="a1-text-right">9.842</td>
            <td class="a1-text-right">4,83</td>
          </tr>
          <tr>
            <td>4</td>
            <td class="a1-destacat-bg">Persona que causa inseguridad</td>
            <td class="a1-text-right">5.565</td>
            <td class="a1-destacat-bg a1-text-right">3,25</td>
            <td class="a1-border-cell">4</td>
            <td class="a1-destacat-bg">Persona que causa inseguridad</td>
            <td class="a1-text-right">9.741</td>
            <td class="a1-destacat-bg a1-text-right">4,78</td>
          </tr>

          <tr>
            <td>5</td>
            <td class="a1-destacat-bg">Control policial de paso</td>
            <td class="a1-text-right">4.951</td>
            <td class="a1-destacat-bg a1-text-right">2,89</td>
            <td class="a1-border-cell">5</td>
            <td>Hurto</td>
            <td class="a1-text-right">9.315</td>
            <td class="a1-text-right">4,57</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Hurto</td>
            <td class="a1-text-right">4.859</td>
            <td class="a1-text-right">2,84</td>
            <td class="a1-border-cell">6</td>
            <td>Conflicto familiar</td>
            <td class="a1-text-right">6.825</td>
            <td class="a1-text-right">3,35</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Agresión entre personas</td>
            <td class="a1-text-right">4.562</td>
            <td class="a1-text-right">2,66</td>
            <td class="a1-border-cell">7</td>
            <td>Agresión entre personas</td>
            <td class="a1-text-right">6.809</td>
            <td class="a1-text-right">3,34</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Persona pide ayuda</td>
            <td class="a1-text-right">4.301</td>
            <td class="a1-text-right">2,51</td>
            <td>8</td>
            <td>Problemas con clientes</td>
            <td class="a1-text-right">6.392</td>
            <td class="a1-text-right">3,13</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Problemas con clientes</td>
            <td class="a1-text-right">4.119</td>
            <td class="a1-text-right">2,40</td>
            <td class="a1-border-cell">9</td>
            <td class="a1-destacat-bg">Campaña de Prevención/Información</td>
            <td class="a1-text-right">6.323</td>
            <td class="a1-destacat-bg a1-text-right">3,10</td>
          </tr>
          <tr>
            <td>10</td>
            <td class="a1-destacat-bg">Dispositivo de seguridad ciudadana/judicial</td>
            <td class="a1-text-right">4.070</td>
            <td class="a1-destacat-bg a1-text-right">2,38</td>
            <td class="a1-border-cell">10</td>
            <td>Vigilancias y Protecciones</td>
            <td class="a1-text-right">6.058</td>
            <td class="a1-text-right">2,97</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Daños contra la propiedad privada</td>
            <td class="a1-text-right">3.888</td>
            <td class="a1-text-right">2,27</td>
            <td class="a1-border-cell">11</td>
            <td class="a1-destacat-bg">Robo con fuerza</td>
            <td class="a1-text-right">5.778</td>
            <td class="a1-destacat-bg a1-text-right">2,83</td>
          </tr>
          <tr>
            <td>12</td>
            <td>Ocupación ilegal de propiedad particular</td>
            <td class="a1-text-right">3.884</td>
            <td class="a1-text-right">2,27</td>
            <td class="a1-border-cell">12</td>
            <td>Vigilancia nucleo urbano</td>
            <td class="a1-text-right">4.384</td>
            <td class="a1-text-right">2,15</td>
          </tr>
          <tr>
            <td>13</td>
            <td>Violencia de Género</td>
            <td class="a1-text-right">3.588</td>
            <td class="a1-text-right">2,09</td>
            <td class="a1-border-cell">13</td>
            <td>Ocupación ilegal de propiedad particular</td>
            <td class="a1-text-right">4.261</td>
            <td class="a1-text-right">2,09</td>
          </tr>
          <tr>
            <td>14</td>
            <td>Persona muerta en edificio</td>
            <td class="a1-text-right">3.498</td>
            <td class="a1-text-right">2,04</td>
            <td class="a1-border-cell">14</td>
            <td>Violencia de Género</td>
            <td class="a1-text-right">4.240</td>
            <td class="a1-text-right">2,08</td>
          </tr>
          <tr>
            <td>15</td>
            <td>Actuación con enfermo mental</td>
            <td class="a1-text-right">3.337</td>
            <td class="a1-text-right">1,95</td>
            <td class="a1-border-cell">15</td>
            <td class="a1-destacat-bg">Sin especificar</td>
            <td class="a1-text-right">4.078</td>
            <td class="a1-destacat-bg a1-text-right">2,00</td>
          </tr>
          <tr>
            <td>16</td>
            <td>Asistencia o auxilio al ciudadano</td>
            <td class="a1-text-right">3.167</td>
            <td class="a1-text-right">1,85</td>
            <td class="a1-border-cell">16</td>
            <td>Identificación policial</td>
            <td class="a1-text-right">3.611</td>
            <td class="a1-text-right">1,77</td>
          </tr>
          <tr>
            <td>17</td>
            <td>Amenazas y/o coacciones</td>
            <td class="a1-text-right">3.165</td>
            <td class="a1-text-right">1,85</td>
            <td class="a1-border-cell">17</td>
            <td>Patrullaje a Pie</td>
            <td class="a1-text-right">3.501</td>
            <td class="a1-text-right">1,72</td>
          </tr>
          <tr>
            <td>18</td>
            <td>Soporte policial</td>
            <td class="a1-text-right">3.019</td>
            <td class="a1-text-right">1,76</td>
            <td class="a1-border-cell">18</td>
            <td>Dispositivo CISA</td>
            <td class="a1-text-right">3.487</td>
            <td class="a1-text-right">1,71</td>
          </tr>
          <tr>
            <td>19</td>
            <td>Tentativa de suicidio</td>
            <td class="a1-text-right">2.951</td>
            <td class="a1-text-right">1,72</td>
            <td class="a1-border-cell">19</td>
            <td>Orden de detención</td>
            <td class="a1-text-right">3.203</td>
            <td class="a1-text-right">1,57</td>
          </tr>
          <tr>
            <td>20</td>
            <td class="a1-destacat-bg">Robo con violencia y/o intimidación</td>
            <td class="a1-text-right">2.914</td>
            <td class="a1-destacat-bg a1-text-right">1,70</td>
            <td class="a1-border-cell">20</td>
            <td>Persona pide ayuda</td>
            <td class="a1-text-right">3.128</td>
            <td class="a1-text-right">1,53</td>
          </tr>
          <tr>
            <td>21</td>
            <td>Violencia doméstica</td>
            <td class="a1-text-right">2.882</td>
            <td class="a1-text-right">1,68</td>
            <td class="a1-border-cell">21</td>
            <td>Pelea en espacio público</td>
            <td class="a1-text-right">3.098</td>
            <td class="a1-text-right">1,52</td>
          </tr>
          <tr>
            <td>22</td>
            <td class="a1-destacat-bg">Sin especificar</td>
            <td class="a1-text-right">2.756</td>
            <td class="a1-destacat-bg a1-text-right">1,61</td>
            <td class="a1-border-cell">22</td>
            <td class="a1-destacat-bg">Robo con violencia y/o intimidación</td>
            <td class="a1-text-right">2.761</td>
            <td class="a1-destacat-bg a1-text-right">1,35</td>
          </tr>
          <tr>
            <td>23</td>
            <td>Alarma de robo en local</td>
            <td class="a1-text-right">2.741</td>
            <td class="a1-text-right">1,60</td>
            <td class="a1-border-cell">23</td>
            <td>Soporte policial</td>
            <td class="a1-text-right">2.646</td>
            <td class="a1-text-right">1,30</td>
          </tr>
          <tr>
            <td>24</td>
            <td>Campaña de Prevención/Información</td>
            <td class="a1-text-right">2.664</td>
            <td class="a1-text-right">1,55</td>
            <td class="a1-border-cell">24</td>
            <td>Dispositivo CRONOS</td>
            <td class="a1-text-right">2.395</td>
            <td class="a1-text-right">1,17</td>
          </tr>
          <tr>
            <td>25</td>
            <td>Vigilancias y Protecciones</td>
            <td class="a1-text-right">2.561</td>
            <td class="a1-text-right">1,49</td>
            <td class="a1-border-cell">25</td>
            <td>Amenazas y/o coacciones</td>
            <td class="a1-text-right">2.371</td>
            <td class="a1-text-right">1,16</td>
          </tr>
          <tr>
            <td colspan="8" style="font-style: italic" class="text-right">Fuente: Datos oficiales de Mossos d'Esquadra 2017</td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-12">
        <div class="a1-marg-bottom">
          {{ section.text_taula2 }}
        </div>
      </div>
    </div>
  </div>
</section>
