<section
  id="{{ section.inner_link }}"
  class="switchable feature-large bg--primary-2"
>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-xs-12">
        <div class="switchable__text">
          <h1>{{ section.titol_seccio }}</h1>
          <div class="lead">
            {{ section.content }}
          </div>
        </div>
      </div>
      <div class="col-8 col-md-8 col-xs-12">
        <div class="border--round box-shadow-wide a1-video-lg">
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/{{
              section.codi_youtube
            }}?rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=1&amp;color=blue"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
