<section
  id="{{ section.inner_link }}"
  class="imageblock  feature-large bg--primary-2"
>
  <div class="imageblock__content col-lg-6 col-md-4 pos-right">
    <div
      class="background-image-holder"
      style="background: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX14895857.jpg); opacity: 1;"
    >
      <img
        alt="image"
        src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX14895857.jpg"
      />
    </div>

    <!--end of modal instance-->
  </div>
  <div class="container">
    <div class="row ">
      <div class="col-lg-5 col-md-7">
        <h1>Títol Video</h1>
        <p class="lead">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa qui
          maxime incidunt temporibus id ullam! Quo distinctio odit modi porro
          ullam inventore quibusdam ut, rem qui corporis recusandae laudantium
          consectetur.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>

  <!--end of container-->
</section>
