<section id="{{ section.inner_link }}" class="imagebg bg--primary-1" data-overlay="7">
    <div class="background-image-holder">
        <img alt="background" src="{{ site.baseurl }}/{{ site.images_path }}/{{ section.imatge_fons }}">
    </div>
    <div id="manifesto" class="container" v-cloak>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form name="manifest" action="thank-you" v-bind:class="{ 'attempted-submit': errors.any() }" v-on:submit.prevent="validate" netlify>
                    <div class="row">
                        <div class="col-xs-12">
                            <div>
                                <h1 class=" a1-marg-bottom">{{ section.titol_seccio }}</h1>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-xs-8 a1-marg-bottom">
                                    <div class="color--white a1-marg-left__laptop">{{ section.formulari.group }}</div>
                                </div>
                                <div class="col-sm-4 col-xs-4">
                                      <div class="col-sm-2 col-xs-4">
                                          <div class="input-radio input-radio--innerlabel">
                                              <input id="group_si" type="radio" name="group" value="Sí" class="validate-required">
                                              <label for="group_si">Sí</label>
                                          </div>
                                      </div>
                                      <div class="col-sm-2 col-xs-4">
                                          <div class="input-radio input-radio--innerlabel">
                                              <input id="group_no" type="radio" name="group" value="No">
                                              <label for="group_no">No</label>
                                          </div>
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-sm-7 col-xs-12">
                                    <label for="name">{{ section.formulari.nom }}</label>
                                    <input id="name" type="text" name="name" placeholder="{{ section.formulari.name_placeholder }}"
                                      v-model.trim="signer.name"
                                      v-validate="'required'"
                                      :class="{ 'field-error': errors.has('name') }">
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-8 col-sm-7 col-xs-12">
                                  <label for="email">{{ section.formulari.email }}</label>
                                  <input id="email" type="text" name="email" placeholder="{{ section.formulari.email_placeholder }}"
                                    v-model.trim="signer.email"
                                    v-validate="'required|email'"
                                    :class="{ 'field-error': errors.has('email') }">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12 col-sm-7 col-md-8">
                                  <div class="input-checkbox">
                                      <input id="aceptar" type="checkbox" name="aceptar"
                                        v-model="accepted"
                                        v-validate="'required'"
                                        :class="{ 'field-error': errors.has('aceptar') }">
                                      <label for="aceptar"></label>
                                  </div>
                                  <span class="color--dark">{{ section.formulari.conditions_accept }} <a href="{{ site.baseurl }}{% if page.locale == 'es' %}{% link privacidad.md %}{% else %}{% link privacitat.md %}{% endif %}" target="_blank">{{ section.formulari.conditions_read }}</a></span>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-sm-offset-4 col-md-offset-5">
                                    <button type="submit" class="btn btn--primary-1" :class="{ 'btn--loading': sending }">{{ section.formulari.button }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <transition name="fade">
                <div class="form-error" v-if="messages.invalid">{{ section.formulari.invalid }}</div>
                <div class="form-error" v-if="messages.errorInvalid">{{ section.formulari.errorInvalid }}</div>
                <div class="form-error" v-if="messages.error">{{ section.formulari.error }}</div>
                <div class="form-success" v-if="messages.success">{{ section.formulari.success }}</div>
            </transition>
        </div>
    </div>
</section>
