<section class="text-center imagebg" data-gradient-bg="#623626,#aa8168,#ffc861,#b26955">
    <div class="container">
        <div class="row">
            <h1 class="a1-marg-bottom">{{ section.titol_seccio }}</h1>
            <form action="//mrare.us8.list-manage.com/subscribe/post?u=77142ece814d3cff52058a51f&amp;id=f300c9cce8" data-success="{{ section.formulari.success }}" data-error="{{ section.formulari.error }}">
                <div class="col-md-6 col-md-offset-2 col-sm-8"> <input class="validate-required" type="text" name="NAME" placeholder="{{ section.formulari.name_placeholder }}"> </div>
                <div class="col-md-6 col-md-offset-2 col-sm-8"> <input class="validate-required" type="text" name="SURNAME" placeholder="{{ section.formulari.surname_placeholder }}"> </div>
                <div class="col-md-6 col-md-offset-2 col-sm-8"> <input class="validate-required validate-email" type="text" name="EMAIL" placeholder="{{ section.formulari.email_placeholder }}"> </div>
                <div class="col-md-2 col-sm-4"> <button type="submit" class="btn btn--white">Signar</button> </div>
                <div class="col-sm-12 text-center"> <input class="validate-required" type="checkbox" name="group[13737][1]"> <span>{{ section.formulari.conditions_accept }} <a href="#" class="color--white">{{ section.formulari.conditions_read }}</a></span> </div>
            </form>

        </div>
    </div>
</section>
