<section id="{{ section.inner_link }}" class="bg--primary">
    <header class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="a1-marg-bottom">{{ section.titol_seccio }}</h1>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="feature">
                    <p class="lead"> Tyrone Tramble <br> Trina Thornton <br> Carmon Culbert <br> Allen Arnott <br>Nidia Nordberg <br>Beata Burrus <br>Nguyet Noss <br>Ping Pittman <br>Marhta Mohler<br>Jaime Johnsrud<br>Zandra Zilnicki <br> Tori Tappan <br> Monroe Melecio<br>                        Cheryll Creagh <br> Pia Privett <br><br><br></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature">
                    <p class="lead">Cheryll Creagh <br>Pia Privett <br>Karolyn Knutsen <br>Lelah Lindahl <br>Normand Nicolai <br>Loria Lindeman <br>Loyce Lord Allen Arnott <br>Zandra Zilnicki <br>Tori Tappan <br>Monroe Melecio<br>Nidia Nordberg <br>Beata Burrus <br>Nguyet
                        Noss <br>Ping Pittman <br>Marhta Mohler<br></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature">
                    <p class="lead">Nidia Nordberg <br>Beata Burrus <br>Nguyet Noss <br>Ping Pittman <br>Marhta Mohler<br>Jaime Johnsrud<br>Karolyn Knutsen <br>Lelah Lindahl <br>Normand Nicolai&nbsp;<br></p>
                </div>
            </div>
        </div>
    </div>
</section>
