<section id="{{ section.inner_link }}" data-gradient-bg="#322420,#b26955,#623626,#aa8168" class="bg--primary-2">
    <header class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="a1-marg-bottom">{{ section.titol_seccio }}</h1>
            </div>
        </div>
    </header>
    <div id="signers" class="container" v-if="signers.length" v-cloak>
        <div class="row">
            <div class="col-xs-12">
                <div class="feature">
                    <ul class="lead">
                        {% raw %}
                        <li v-for="signer in signers" :key="signer.id">
                          <span>{{ signer.name }} <i class="icon icon--xs icon-Affiliate color--primary-3" v-if="signer.group"></i></span>
                        </li>
                        {% endraw %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="pagination" v-if="false">
            <ol>
                <li class="a1-pag--edge">
                    <span>«</span>
                </li>
                <li class="pagination__current">1</li>
                <li><a href="#">2</li>
                <li class="a1-pag--edge">
                    <span>»</span>
                </li>
            </ol>
        </div>
    </div>
</section>
