<section id="{{ section.inner_link }}">
    <header class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="a1-marg-bottom">{{ section.titol_seccio }}</h1>
            </div>
        </div>
    </header>
    <div class="container a1-marg-bottom">
        <div class="row">
            {% for entitat in site.data.entitats-participants.llistat %}
            <div class="col-sm-2 col-xs-6">
                <div class="feature feature-9 text-center a1-logo-entitats">
                    <a href="{{ entitat.url }}" title="{{ entitat.entitat }}" target="_blank">
                        <img class="image--sm" alt="{{ entitat.entitat }}" src="{{ site.baseurl }}{{ entitat.logo }}">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container a1-pad-top">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="a1-marg-bottom">{{ section.titol_suport }}:</h5>
            </div>
        </div>
        <div class="row">
            {% for entitat in site.data.entitats-suport.llistat %}
            <div class="col-sm-2 col-xs-6">
                <div class="feature feature-9 text-center a1-logo-entitats">
                    <a href="{{ entitat.url }}" title="{{ entitat.entitat }}" target="_blank">
                        <img class="image--sm" alt="{{ entitat.entitat }}" src="{{ site.baseurl }}{{ entitat.logo }}">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
