<section id="{{ section.inner_link }}" class="text-center space-bottom--xxs">
    <header class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8">
                <h2 class="h1">{{ section.titol_seccio }}</h2>
                <p class="h3"> {{ section.entradeta }} </p>
            </div>
        </div>
    </header>
</section>
<section class="bg--white space-top--xxs">
    <article>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                        <div class="article__body a1-list-basic">
                            {{ section.content }}
                        </div>
                        {% include theme/social-sharing.html %}
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
