<section id="{{ block.section_id }}">
    <header class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="h1 a1-marg-bottom">{{ block.heading }}</h2>
            </div>
        </div>
    </header>
    <div class="container a1-marg-bottom">
        <div class="row">
            {% for participant in site.data.collaborators.participants %}
                <div class="col-sm-2 col-xs-6">
                    <div class="feature feature-9 text-center a1-logo-entitats">
                        <a href="{{ participant.website }}" title="{{ participant.name }}" target="_blank">
                            <img class="image--sm" alt="{{ participant.name }}" src="{{ participant.logo }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container a1-pad-top">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="a1-marg-bottom">{{ block.subheading }}:</h5>
            </div>
        </div>
        <div class="row">
            {% for supporter in site.data.collaborators.supporters %}
                <div class="col-sm-2 col-xs-6">
                    <div class="feature feature-9 text-center a1-logo-entitats">
                        <a href="{{ supporter.website }}" title="{{ supporter.name }}" target="_blank">
                            <img class="image--sm" alt="{{ supporter.name }}" src="{{ supporter.logo }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>